{% extends 'basic.html' %} 
{% block title %} 
About 
{% endblock title %} 
{% block body %}
<div class="jumbotron">
  <h1 class="display-4">Protecting Our Planet Starts with You</h1>
</div>
<div class="col-md-12">
<div class="card text-white bg-success mb-3 mt-4">
  <div class="card-header">Reduce, Reuse, and Recycle</div>
  <div class="card-body"> 
    <p class="card-text">Cut down on what you throw away. Follow the three "R's" to conserve natural resources and landfill space.</p>
  </div>
</div>
</div>

<div class="col-md-12">
<div class="card text-white bg-success mb-3 mt-4">
  <div class="card-header">Volunteer</div>
  <div class="card-body"> 
    <p class="card-text">Volunteer for cleanups in your community. You can get involved in protecting your watershed, too.</p>
  </div>
</div>
</div>

<div class="col-md-12">
<div class="card text-white bg-success mb-3 mt-4">
  <div class="card-header">Educate</div>
  <div class="card-body"> 
    <p class="card-text">When you further your own education, you can help others understand the importance and value of our natural resources.</p>
  </div>
</div>
</div>

<div class="col-md-12">
<div class="card text-white bg-success mb-3 mt-4">
  <div class="card-header">Conserve water</div>
  <div class="card-body"> 
    <p class="card-text">The less water you use, the less runoff and wastewater that eventually end up in the ocean.</p>
  </div>
</div>
</div>

<div class="col-md-12">
<div class="card text-white bg-success mb-3 mt-4">
  <div class="card-header">Plant a tree</div>
  <div class="card-body"> 
    <p class="card-text">Trees provide food and oxygen. They help save energy, clean the air, and help combat climate change.</p>
  </div>
</div>
</div>

<div class="col-md-12">
<div class="card text-white bg-success mb-3 mt-4">
  <div class="card-header">Bike more</div>
  <div class="card-body"> 
    <p class="card-text">Drive less.</p>
  </div>
</div>
</div>

<div class="col-md-12">
<div class="card text-white bg-success mb-3 mt-4">
  <div class="card-header">Shop wisely</div>
  <div class="card-body"> 
    <p class="card-text">Buy less plastic and bring a reusable shopping bag.</p>
  </div>
</div>
</div>

<div class="col-md-12">
<div class="card text-white bg-success mb-3 mt-4">
  <div class="card-header">Don't send chemicals into our waterways</div>
  <div class="card-body"> 
    <p class="card-text">Choose non-toxic chemicals in the home and office.</p>
  </div>
</div>
</div>

<div class="col-md-12">
<div class="card text-white bg-success mb-3 mt-4">
  <div class="card-header">Use long-lasting light bulbs</div>
  <div class="card-body"> 
    <p class="card-text">Energy efficient light bulbs reduce greenhouse gas emissions. Also flip the light switch off when you leave the room!</p>
  </div>
</div>
</div>
{% endblock body %}
